.App {
  text-align: center;
  height: 98vh;
  width: 98vw;
  border: 2px red solid;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
}

.main {
  flex: 1;
  border: 2px red solid;
}

.footer {
  width: 100%;
}
